// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.title {
    &-enter-active,
    &-leave-active {
        transition: all .5s;
    }

    &-enter, &-leave-to{
        transform: translateX(50px);
        opacity: 0;
    }
}


.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


// Calc
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.cell {
    flex: 33%;
    height: 50px;
    font-size: 18px;
    border: 1px;
}

.num {
    background-color: #1a202c;
    color: white;
    font-weight: 400;
}

.op {
    background-color: #1d643b;
    color: black;
    font-weight: 400;
}

.cell:hover {
    background-color: #2d3748;
}


.phone {
    border-radius: 70px;
    color: #38c172;
    padding: 12px 16px;
    font-size: 34px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.modal {
    display: block;
}

.modal {
    &-enter-active,
    &-leave-active {
        transition: all .5s;
    }

    &-enter, &-leave-to{
        transform: translateY(-200px);
        opacity: 0;
    }
}

.add {
    &-enter-active,
    &-leave-active {
        transition: all .5s;
    }

    &-enter, &-leave-to{
        transform: translateX(50px);
        opacity: 0;
    }
}

.showInfo{
    &-enter-active,
    &-leave-active {
        transition: all .4s;
    }

    &-enter, &-leave-to{
        transform: translateY(-150px);
        opacity: 0;
    }
}

.writeHistory{
    &-enter-active,
    &-leave-active {
        transition: all .4s;
    }

    &-enter, &-leave-to{
        transform: translateY(-150px);
        opacity: 0;
    }
}

