<template>
    <div class="container-full-width" >

        <div class="row">

            <div class="col" style="text-align: center">
                <h3>Doctor appointments</h3>
                <hr>
            </div>
            <div class="col" style="text-align: center">
                <a class="btn btn-outline-success">Make new appointment</a>
                <hr>
            </div>

        </div>

        <div v-for="doctor in app" class="container-full-width" style="margin-left: 20%">
            <AppointmentsList :doctor="doctor"></AppointmentsList>
        </div>


    </div>

</template>

<script>

import AppointmentsList from "./AppointmentsList";

export default {
    components: {AppointmentsList},
    data: () => ({
        app: {},
        show: true,
        showEdit: true
    }),

    props: {
        id: {
            type: Number,
            required: true
        }
    },

    methods: {
        fetchApp(){
            axios.get('/api/appointments/'+this.id)
                .then(({data}) => {
                    console.log(data)
                    // this.app = []
                    return this.app = data
                })
                .catch(({response}) => {
                    console.log(response.data.errors);
                });
        },

        deleteAppointment(id, patientId){
            axios.post('/api/delete/appointment/'+id, {id: id, patient_id: patientId})
                .then(({data}) => {
                    console.log(id)
                })
                .catch(({response}) => {
                    console.log(response.data.errors);
                });
        }
    },

    mounted() {
        console.log(this.app)
    },

    created() {
        this.fetchApp()
    },
}
</script>
