<template>

    <div style="width: 80%">
        <div class="row">

            <div class="col">
                Appointment time: <h3>{{doctor.pivot.appointment_time}}</h3>
            </div>

            <div class="col">
                Doctor: <h3>{{doctor.id}}</h3>
            </div>

            <div class="col">
                Specialization: <h3>{{doctor.specialization}}</h3>
            </div>

            <div class="col">
                <div class="btn-group" style="height: 60px">
                    <a class="btn btn-outline-success" @click="showEdit = !showEdit">Write to card &#10000;</a><br><br>
                    <a class="btn btn-outline-secondary" @click="deleteAppointment(doctor.pivot.id, doctor.pivot.patient_id)" >Cancel appointment &#10006;</a><br><br>
                </div>
            </div>

        </div>
        <br>

        <transition name="writeHistory">
            <div v-if="showEdit">
                <form @submit.prevent="writeHistory()">

                    <input type="hidden" name="patient_doctor_id" v-model="appointmentId = doctor.pivot.id">
                    <input class="form-control" type="text" name="diagnosis" v-model="diagnosis" placeholder="Enter diagnosis..." required><br>
                    <textarea class="form-control" type="text" name="treatment" v-model="treatment" placeholder="Enter treatment..." required></textarea><br>

                    <div class="btn-group" style="width: 100%">
                        <button type="submit" class="btn btn-outline-success" >Save</button>
                        <button type="reset" class="btn btn-outline-secondary" >Reset</button>
                    </div>

                </form>
            </div>
        </transition>
        <hr>

    </div>
</template>

<script>
export default {
    name: "AppointmentsList",

    data: () => ({
        show: false,
        showEdit: false,
        diagnosis: '',
        treatment: '',
        appointmentId: '',
    }),

    methods:{
      writeHistory(){
          axios.post('/api/write/history', {patient_doctor_id: this.appointmentId, diagnosis: this.diagnosis, treatment: this.treatment})
              .then(({data}) => {
                  console.log(data)
                  this.diagnosis = this.treatment = ''
                  this.showEdit = false
              })
              .catch(({response}) => {
                  console.log(response.data.errors);
              });
      }
    },

    props: {
        doctor: {
            type: Object,
            required: true,
            appointmentTime: '',
            doctorId: '',
            specialization: ''
        },
    },

}
</script>

