<template>

    <div class="container" style="text-align: center;">

        <div class="container" >

            <div class="row">
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3" style="text-align: end">
                    <button class="btn btn-outline-success" @click="show = !show">Add User</button>
                    <br><br>
                </div>
            </div>

            <!--ADD USER-->
            <transition name="add">
                <form @submit.prevent="addNewUser()">
                    <div class="row" v-if="show">
                        <div class="col-3">
                            <input type="text" name="name" class="form-control"
                                   v-model="newUser.name"
                                   :class="$v.newUser.name.$error ? 'is-invalid' : ''"
                                   placeholder="Enter name...">
                            <small class="text-danger invalid-feedback" v-if="$v.newUser.name.$dirty && !$v.newUser.name.required">Name required</small>
                        </div>


                        <div class="col-3">
                            <input type="text" name="email" class="form-control"
                                   v-model="newUser.email"
                                   :class="$v.newUser.email.$error ? 'is-invalid' : ''"
                                   placeholder="Enter email...">
                            <small class="text-danger invalid-feedback" v-if="$v.newUser.email.$dirty && !$v.newUser.email.required">Email required</small>
                            <small class="text-danger invalid-feedback" v-if="$v.newUser.email.$dirty && !$v.newUser.email.email">Email invalid</small>
                        </div>


                        <div class="col-3">
                            <input type="password" name="password" class="form-control" v-model="newUser.password"
                                   :class="$v.newUser.password.$error ? 'is-invalid' : ''"
                                   placeholder="Enter password...">
                            <small class="text-danger invalid-feedback" v-if="$v.newUser.password.$dirty && !$v.newUser.password.required">Password required</small>
                            <small class="text-danger invalid-feedback" v-if="$v.newUser.password.$dirty && !$v.newUser.password.minLength">Password invalid</small>
                        </div>


                        <div class="col-3">
                            <select class="form-control" name="position" v-model="newUser.position"
                                    :class="$v.newUser.position.$error ? 'is-invalid' : ''">
                                <option disabled>Select position:</option>
                                <option value="1">Doctor</option>
                                <option value="0">Patient</option>
                            </select>
                            <small class="text-danger invalid-feedback" v-if="$v.newUser.position.$dirty && !$v.newUser.position.required">Position required</small>
                        </div>

                        <br><br>
                        <div class="col-3">
                            <button class="btn btn-success" type="submit" style="width: 100%">Save</button>
                        </div>
                    </div>
                </form>
            </transition>
            <hr>


            <!--USERS LIST-->
            <div class="row">
                <div class="col-1">
                    <h3>ID:</h3>
                </div>
                <div class="col-5">
                    <h3>Name:</h3>
                </div>
                <div class="col-4">
                    <h3>Email:</h3>
                </div>
                <div class="col-2">
                </div>
            </div>
            <hr>

            <div v-for="user in users">
                <UserInfo :user="user"></UserInfo>
                <br>
            </div>

        </div>
    </div>
</template>




<script>
import {mapActions, mapGetters} from "vuex";
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'
import UserInfo from "./UserInfo";

export default {
    mixins: [validationMixin],

    comments: [
        UserInfo
    ],

    data: () => ({
        show: false,
        showModal: false,

        users: {},

        newUser: {
            name: '',
            email: '',
            password: '',
            position: ''
        }
    }),

    validations: {
        newUser: {
            name: { required },
            email: { required, email },
            password: { required, minLength: minLength(5) },
            position: { required }
        }
    },



    props: ['data'],

    methods:{
        ...mapActions(["loadTest"]),

        add() {
            axios.post('/api/add/user', {data: this.newUser})
                .then(({data}) => {
                    console.log(data.newUser)
                })
                .catch(({response}) => {
                    console.log(response.data.errors);
                });
        },

        fetchUsers(str = ''){
            axios.get('/api/users')
                .then(({data}) => {
                    // console.log(data)
                    this.users = []
                    console.log(str)
                    return this.users = data
                })
                .catch(({response}) => {
                    console.log(response.data.errors);
                });
        },

        addNewUser(){
            this.$v.newUser.$touch();
            if(!this.$v.newUser.$error){
                console.log('Валидация успешна')
                this.add()
                this.fetchUsers()
                this.newUser.name = this.newUser.email = this.newUser.password = this.newUser.position = ''
                this.show = false;
            }
        }


    },

    mounted() {
        this.$root.$refs.example_component = this;
        this.fetchUsers()
    },

    created() {
        this.$root.$refs.example_component = this;
    },

    updated() {
        // this.fetchUsers()
    },

    computed: {
        ...mapGetters(["getNums"]),
    },

    watch: {

    },

}
</script>
