<template>
<div>
    <div class="card" style="border-radius: 15px; ">
        <div class="cord-body" style="border-radius: 15px; border: 2px">
            <br>
            <div class="row">
                <div class="col-1">
                    <h5 v-model="user.id"> {{user.id}} </h5>
                </div>
                <div class="col-5">
                    <h3> {{user.name}} </h3>
                </div>
                <div class="col-4">
                    <h5> {{user.email}} </h5>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-success" @click="show=!show" style="margin-right: 1px">Edit</button>
                    <button @click="showModal=true" class="btn btn-outline-dark">Delete</button>
                </div>
            </div>
        </div><br>
    </div><br>

    <transition name="showInfo">
        <div  class="card" v-if="show" style="border-radius: 15px;">
            <div class="cord-body" style="border: 2px; margin: 50px 20px 15px 20px;">
                <form @submit.prevent="editUser()">

                    <label>ID: {{user.id}}</label>

                    <input class="form-control" type="text" v-model="user.name"
                           :class="$v.user.name.$error ? 'is-invalid' : ''">
                    <small class="text-danger invalid-feedback" v-if="$v.user.name.$dirty && !$v.user.name.required">Name required</small>

                    <input class="form-control" type="text" v-model="user.email"
                           :class="$v.user.email.$error ? 'is-invalid' : ''"
                           style="margin-top: 10px">
                    <small class="text-danger invalid-feedback" v-if="$v.user.email.$dirty && !$v.user.email.required">Email required</small>
                    <small class="text-danger invalid-feedback" v-if="$v.user.email.$dirty && !$v.user.email.email">Email required</small>

                    <button type="submit" class="btn btn-success" style="width: 100%;margin-top: 10px">Save</button>
                </form>
            </div>
        </div>
    </transition>


    <transition name="modal">
        <div class="modal fade show" tabindex="-1" role="dialog" v-if="showModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="showModal = false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Do you want us to delete user: {{ user.email }}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="deleteUser()">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="showModal = false">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
    <div class="modal-backdrop fade show" v-if="showModal"></div>



</div>

</template>

<script>

import Example from "./Example";
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'

export default {
    name: "UserInfo",

    props: {
        user: {
            type: Object,
            required: true,
            id: '',
            name: '',
            email: ''
        },
    },

    data: () => ({
        show: false,
        showModal: false
    }),

    validations: {
        user: {
            name: { required },
            email: { required, email }
        }
    },

    methods:{
        update() {
            axios.post('/api/edit/' + this.user.id, {id: this.user.id, name: this.user.name, email: this.user.email})
                .then(({data}) => {
                    console.log(data)
                    this.name = data.name;
                    this.email = data.email;
                })
                .catch(({response}) => {
                    console.log(response.data.errors);
                });
        },

        del() {
            axios.post('/api/delete/' + this.user.id, {id: this.user.id})
                .then(({data}) => {
                    console.log(this.user.id)
                })
                .catch(({response}) => {
                    console.log(response.data.errors);
                });
        },

        fetchUsers(){
            axios.get('/api/users')
                .then(({data}) => {
                    console.log(data)
                    this.users = []
                    return this.users = data
                })
                .catch(({response}) => {
                    console.log(response.data.errors);
                });
        },

        editUser(){
            this.$v.user.$touch();
            if(!this.$v.user.$error){
                console.log('Валидация успешна')
                this.update()
                this.$root.$refs.example_component.fetchUsers()
                this.user.name = this.user.email = ''
                this.show = false;
            }
        },

        showMod(user){
            this.showModal = true
            console.log(this.showModal, user)
        },

        deleteUser(){
            this.del()

            this.$root.$refs.example_component.fetchUsers()
            // this.user.name = this.user.email = ''
            this.showModal = false;
        }
    },
}
</script>
